<!DOCTYPE html>
<html>
 <head>
  <title> Customers </title>
  <% include layout/head %>
 </head>

 <body>
 
<div class="container">  
	<ul>
		<% for(var i=0;i<list.length; i++) { %>
			<li> <a href="/customer/<%= list[i]['customerNumber'] %>"> <%= list[i]['customerName'] %> </a> </li>
		<% } %>
	</ul>
</div>

 </body>
</html>
