<!DOCTYPE html>
<html>
 <head>
  <title> <%= title %> </title>
  <% include layout/head %>
 </head>

 <body>

 <div class="container">
	<div class="jumbotron">
		<h3> <%= message%> </h3>
	</div>
 </div>
  
 </body>
</html>
